@charset "utf-8";

@import url(./root.css);
@import url(./fix.css);

/* header */
header {
  width: 100%;
  z-index: 1000;
}
header .header-wrapper {
  justify-content: space-between;
  align-items: center;
  max-width: 1800px;
  width: 96%;
  height: 80px;
  margin: 0 auto;
}
header .header-wrapper h1 {
  background: url(./images/expo_logo.png) no-repeat 0 50% / contain;
  text-indent: -9999px;
  width: 130px;
  height: 100%;
}
header .header-wrapper .header-nav {
  font-weight: 600;
  width: 70%;
}
header .header-wrapper .header-nav li {
  width: 30%;
}
header .header-wrapper .header-nav li:hover {
  color: #012964;
}

/* main */
article {
  width: 100%;
  height: 100vh;
}
.def {
  width: 100%;
  height: 70vh;
}
.def img {
  width: 100%;
  height: 70vh;
  position: relative;
}
.main-gradient p {
  text-indent: -9999px;
  background-image: linear-gradient(90deg, #0047ff, #030c22);
  height: 30px;
  position: relative;
}
.def .main-img {
  text-indent: -9999px;
  position: relative;
  padding: 360px;
  object-fit: fill;
}
.def .main-img-txt {
  position: absolute;
  left: 750px;
  top: 400px;
  color: #fff;
  line-height: 2;
}
.def .main-img-txt h1 {
  font-size: 50px;
}
.def .main-nav {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 0;
  margin-top: -70px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 5px;
  flex-wrap: wrap;
}
.def .main-nav ul {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.def .main-nav li {
  border-right: 1px solid #ccc;
  margin: 20px 10px;
  padding: 30px;
}
.def .main-nav li:last-child {
  border: none;
}
